/*Estilos Generales*/
.button {

	display: inline-block;
	font-size: 1em;
	margin: 5px;
	padding: 5px 0;
	text-align: center;
	width: 130px;


}

.button span {
	margin-right: 10px;
}

/*Colores*/

.resumen {
	display: inline-block;
	background: #0c817c;
	color: #fff;

	border: 1px solid #096763;
	font-size: 14px;

	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	text-align: center;
	width: 250;
	height: 35px;





}

.resumen:hover {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.2);
	color: #0a0a0a;

	border: 1px solid rgba(0, 0, 0, 0.45);
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	text-align: center;
	width: 250px;
	height: 35px;


}

.resumen:focus {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.2);
	color: #0a0a0a;

	border: 1px solid rgba(0, 0, 0, 0.45);
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	text-align: center;
	width: 250px;
	height: 35px;


}

.button.blue {
	background: #0c817c;
	box-shadow: 0px 3px 0px #09726d;
	color: #fff;
}

.button.blue:hover {
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 0px #4a4a4a;
	color: #fff;
	display: inline-block;
	font-size: 1em;
	margin: 5px;
	padding: 5px 0;
	text-align: center;
	width: 130px;
}

.button:focus {
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 0px #4a4a4a;
	color: #fff;
	display: inline-block;
	font-size: 1em;
	margin: 5px;
	padding: 5px 0;
	text-align: center;
	width: 200px;
}

.button.white {
	background: #fcf9fe;
	box-shadow: 0px 3px 0px #e3c7f6;
}

.button.yellow {
	background: #810C11;
	color: #ccc;
	box-shadow: 0px 3px 0px #56080c;

}


/*Tamaños*/
.button.small {
	width: 200px;
}

.button.medium {
	width: 400px;
}


.button.large {
	width: 600px;
}


.button.radius {
	border-radius: 20px;
}

/*Efectos, Hover*/
.button.yellow:hover {
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 0px #4a4a4a;
	color: #810C11;
	display: inline-block;
	font-size: 1em;
	margin: 5px;
	padding: 5px 0;
	text-align: center;
	width: 130px;
}