﻿.chat-container
{
    position:fixed;
    top: 445px;
    right:3px;
    height:250px;
    width:40px;
    color:Black;
    /*border: 1px solid gray;*/
    overflow:hidden;
    font-size:8pt;
}

.chat-full-width
{
    width:455px;
}

.chat-container-closed
{
    width: 45px;
}

.chat-notifier
{
    background-position: 14px 26px;
    float: left;
    width: 40px;
    height: 130px;
    background-color: #404040;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    background-image: url('../images/Chat_Now_White.png');
    background-repeat: no-repeat;
}

.chat-body
{
    float:left;
    margin: 0px 0px 0px 5px;
    width: 410px;
    height:250px;
    background-color: #333333;
    color:White;
    border-radius:4px;
}

.chat-body-msgs
{
    margin:5px;
    padding:5px;
    background-color:#444444;
    width:390px;
    height:170px;
    overflow:auto;
    border-radius:4px;
    
}

.chat-type-area
{
}

.chat-type-area-in
{
    margin: 0px 0px 0px 5px;
    width: 320px;
    height: 53px;
    float:left;
}
.chat-textarea
{
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    border: 1px solid silver;
    font-size:8pt;
}

.chat-type-area-r
{
    float:left;
    margin: 0px 0px 0px 5px;
}

.chat-type-area-submit
{
    background-color: #006A6A;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    width: 63px;
    text-align: center;
    border: 1px solid #005151;
}

.chat-close
{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    left: 412px;
    background-image: url('../images/Close_White.png');
    background-repeat: no-repeat;
    cursor:pointer;
}

.im-msg-user
{
    padding: 0px 0px 5px 0px;
    clear:both;
    color: #AAAAAA;
   
}

.im-msg-user-t
{
    clear:both;
    float: left;
    margin-right:5px;
    font-weight:bold;
}

.im-msg-support
{
    padding: 0px 0px 5px 0px;
    clear:both;
}

.im-msg-support-t
{
    clear:both;
    float: left;
    font-weight:bold;
    margin-right:5px;
}