﻿.ct-col-1
{
    float:left;
    width: 245px;
    height: 320px;
    padding:10px;
}

.ct-col-2
{
    margin: 0px 0px 0px 20px;
    float:left;
    width: 647px;
    height: 320px;
    padding:10px 20px 10px 20px;
}

.office-map
{
    float: left;
    padding: 10px;
    background-color: White;
    border: 2px solid #E8E8E8;
    border-radius: 4px;
    margin:0px 20px 0px 0px;
}

.dep-contacts
{
    margin: 25px 0px 0px 0px;
}