﻿@import 'login.css';
@import 'custom.css';
@import 'master.css';
@import 'toolbar.css';
@import 'datagrid.css';

body {
	margin: 0px auto 0px auto;
	padding: 0px;
	font-family: Arial;
	font-size: 11px;
	border: 0px;
	/*height: 100%;*/
	width: 100%;
	background-color: #949494;
}

form {
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 100%;
	/*height: 100%;*/
	border: 0px;
}



input {
	font-family: sans-serif;
	font-size: 12px;
	width: 118px;
}

select {
	font-family: sans-serif;
	font-size: 12px;
	width: 84px;
}

textarea {
	font-family: sans-serif;
	font-size: 14px;
}