﻿
.cps_package_selection
{
}

.hidden_tab
{
    display:none;
}

.cps_package_item
{
    float:left;
    width: 150px;
    margin: 0px 10px 0px 0px;
    /*border-top-right-radius: 5px;
    border-top-left-radius: 5px;*/
}

.cps_package_item_name
{
    color: white;
    margin:10px 10px 0px 5px;
    font-size: 13pt;
    text-align:center;
}

.cps_package_item_pmo
{
    margin:0px 10px 10px 10px !important;
    font-size: 10pt ;
    text-align:center;
    color: white;
}

.cps_package_item_np
{
    /*background-color: #5b9c9b;*/
    cursor: pointer;
}

    .cps_package_item_np:hover
    {
        /*background-color: #E10000;*/
    }

.cps_package_item_picked
{
    /*background-color: #487675;*/
}

.cps_package_sel_end
{
    clear:both;
}


.cps_package_properties
{
    /*background-color: #487675;*/
}

.cps_attribute_list
{
    padding: 20px 0px 20px 80px;
}

.cps_attribute_def
{
    
    font-size: 12pt;
    float: left;
    width: 270px;
}


.cps_attribute_def_name
{
    /*color: #fafafa;*/
    margin:7px;
    float: left;
    width: 130px;
}

.cps_attribute_def_val
{
    margin:7px;
    float:left;
    /*color: white;*/
}

.cps_attribute_def_fin
{
    clear: both;
}

.cps_attribute_list_fin
{
    clear:both;
}

.cps_custom_attribute_list
{
    /*background-color: #5d9291;*/
    color:white;
    padding: 10px 0px 10px 80px;
}

.cps_custom_attribute
{
    margin:0px 7px 0px 7px;
}

.cps_custom_attribute_name
{
    font-size: 12pt;
    color: #fafafa;
    float: left;
    width: 130px;
    margin: 10px 0px 10px 0px;
}

.cps_custom_attribute_option
{
    float:left;
}





.cps_custom_attribute_option_list_fin
{
    clear:both;
}

.cps_custom_attribute_fin
{
    clear:both;
}

.cps_custom_attribute_option
{
    margin: 0px;
    padding: 6px;
    cursor: pointer;
}



/*Attribute options*/


/*-------------------- OS flavours --------------------------*/
.ao_os
{
    width: 64px;
    color:#fafafa;
}

    .ao_os:hover
    {
        /*background-color:#558685;*/
    }

    .ao_os .cps_custom_attribute_option_img
    {
        width:48px;
        height:48px;
        background-color: white;
        margin-right:auto;
        margin-left:auto;
        
    }

    .ao_os .cps_custom_attribute_option_txt
    {
        font-size: 8pt;
        text-align:center;
    }

.ao_os.ao_picked
{
    /*background-color: #487675;*/
    color: white;
}

.ao_os.aoi_centos .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -45px;
}

.ao_os.aoi_centos:hover .cps_custom_attribute_option_img
{
    background-position: -0px -45px;
}

.ao_os.aoi_centos.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -45px;
}


.ao_os.aoi_debian .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -0px;
}

.ao_os.aoi_debian:hover .cps_custom_attribute_option_img
{
    background-position: -0px -0px;
}

.ao_os.aoi_debian.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -0px;
}


.ao_os.aoi_ubuntu .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -90px;
}

.ao_os.aoi_ubuntu:hover .cps_custom_attribute_option_img
{
    background-position: -0px -90px;
}

.ao_os.aoi_ubuntu.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -90px;
}


.ao_os.aoi_fedora .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -272px;
}

.ao_os.aoi_fedora:hover .cps_custom_attribute_option_img
{
    background-position: -0px -272px;
}

.ao_os.aoi_fedora.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -272px;
}

.ao_os.aoi_opensuse .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -315px;
}

.ao_os.aoi_opensuse:hover .cps_custom_attribute_option_img
{
    background-position: -0px -315px;
}

.ao_os.aoi_opensuse.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -315px;
}

.ao_os.aoi_mint .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -585px;
}

.ao_os.aoi_mint:hover .cps_custom_attribute_option_img
{
    background-position: -0px -585px;
}

.ao_os.aoi_mint.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -585px;
}


.aoi_os.aoi_no .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -540px;
}

.aoi_os.aoi_no:hover .cps_custom_attribute_option_img
{
    background-position: -0px -540px;
}

.aoi_os.aoi_no.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -540px;
}

.ao_os.aoi_win .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -495px;
}

.ao_os.aoi_win:hover .cps_custom_attribute_option_img
{
    background-position: -0px -495px;
}

.ao_os.aoi_win.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -495px;
}

.ao_os.aoi_win.aoi_2012  .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -629px;
}

.ao_os.aoi_win.aoi_2012:hover .cps_custom_attribute_option_img
{
    background-position: -0px -629px;
}

.ao_os.aoi_win.aoi_2012.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -629px;
}


.ao_os.aoi_windows.aoi_10 .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -629px;
}

.ao_os.aoi_windows.aoi_10:hover .cps_custom_attribute_option_img
{
    background-position: -0px -629px;
}

.ao_os.aoi_windows.aoi_10.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -629px;
}

.ao_os.aoi_win.aoi_2016  .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -629px;
}

.ao_os.aoi_win.aoi_2016:hover .cps_custom_attribute_option_img
{
    background-position: -0px -629px;
}

.ao_os.aoi_win.aoi_2016.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -629px;
}

.ao_os.aoi_win.aoi_2019  .cps_custom_attribute_option_img
{
    background: url('../images/b-os-icon-m.png') repeat-x;
    background-position: -90px -629px;
}

.ao_os.aoi_win.aoi_2019:hover .cps_custom_attribute_option_img
{
    background-position: -0px -629px;
}

.ao_os.aoi_win.aoi_2019.ao_picked .cps_custom_attribute_option_img
{
    background-position: -0px -629px;
}



/*-------------------- Billing interval --------------------------*/


.ao_billing_interval
{
    margin: 10px 5px 0px 5px;
    padding: 5px 15px 5px 15px;
}

    .ao_billing_interval:hover
    {
        /*background-color: #558685;*/

    }

    .ao_billing_interval .cps_custom_attribute_option_txt
    {
        font-size:13pt;
    }

.ao_billing_interval.ao_picked 
{
    /*background-color: #487675;*/
}




/*Pricing*/

.cps_pricing_start
{
    /*overflow:auto;*/
    clear:both;
}

.cps_pricing_start > div
{
    float:left;
    margin:0px 50px 0px 0px;
}

.cps_pricing_end
{
    clear:both;
}

.cps_pricing
{
    /*background-color: #487675;*/
    padding: 10px 0px 10px 80px;
    color:#fafafa;
    font-size: 13pt;
}

.cps_pricing_trial_start>div
{
    float:left;
    margin:0px 0px 0px 5px;
}

.cps_pricing_trial_duration
{
    clear:both;
}

.cps_pricing_trial_end
{
    clear: both;
}


/*.cps_pricing_regular>div
{
    float:left;
}*/

.cps_pricing_regular_end
{
    clear: both;
}

.cps_button
{
   padding: 5px 20px 6px 20px;
   border-radius:3px;
   color:black;
   font-size: 12pt;
   cursor:pointer;
}
    .cps_button:hover
    {
        background-color: #eeeeee;
    }

.cps_order
{
    margin-right:20px !important;
}

.cps_order_button
{
   margin: 5px 0px 0px 0px;

}

.cps_customize_button
{
   margin: 5px 0px 0px 0px;
   background-color: #dbdbdb;
}

