background: linear-gradient(147deg, #0f52b0, #771717, #babf77);
background-size: 600% 600%;
-webkit-animation: AnimationName 36s ease infinite;
-moz-animation: AnimationName 36s ease infinite;
-o-animation: AnimationName 36s ease infinite;
animation: AnimationName 36s ease infinite;
@-webkit-keyframes fondo {
    0%{background-position:76% 0%}
    50%{background-position:25% 100%}
    100%{background-position:76% 0%}
}
@-moz-keyframes fondo {
    0%{background-position:76% 0%}
    50%{background-position:25% 100%}
    100%{background-position:76% 0%}
}
@-o-keyframes fondo {
    0%{background-position:76% 0%}
    50%{background-position:25% 100%}
    100%{background-position:76% 0%}
}
@keyframes fondo {
    0%{background-position:76% 0%}
    50%{background-position:25% 100%}
    100%{background-position:76% 0%}
}