/*======= index.html =======*/
#page1 #content .col-1 {width:245px; height:570px; margin-right:20px; padding: 20px;}
#page1 #content .col-2 {width:627px; height:570px; padding: 20px;}

#page1 aside .col-1 {width:238px; margin-right:10px;}
#page1 aside .col-2 {width:237px; margin-right:10px;}
#page1 aside .col-3 {width:238px; margin-right:10px;}
#page1 aside .col-4 {width:237px;}



/*======= index-1.html =======*/
#page2 #content .col-1 {width:245px; margin-right:105px;}
#page2 #content .col-2 {width:629px;}

/*======= index-2.html =======*/
#page3 #content .col-1 {width:634px; margin-right:100px;}
#page3 #content .col-2 {width:246px;}

#page3 aside .col-1 {width:243px; margin-right:3px;}
#page3 aside .col-2 {width:242px; margin-right:3px;}
#page3 aside .col-3 {width:243px; margin-right:3px;}
#page3 aside .col-4 {width:242px;}

/*======= index-3.html =======*/
#page4 #content .col-1 {width:245px; margin-right:105px;}
#page4 #content .col-2 {width:629px;}



/*======= index-5.html =======*/
#page6 #content .col-1 {width:245px; margin-right:105px;}
#page6 #content .col-2 {width:629px;}






