﻿table.master {
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    /*height: 100%;*/
    vertical-align: top;
    margin-top: -3px;
    background-color: #c6c8ca;

}

table.master .error {
    color: Red;
}

table.master td {
    vertical-align: top;
    font-weight: 700;
}

table.master .master-content-main {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table.master .master-content-center {
    padding: 12px;
}

table.master .master-content-bottom {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table.master .master-copyright {
    text-align: center;
    padding-top: 4px;
}

table.master .master-content-center .title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2px;
}

table.master .master-content-center .page {
    background-color: #f4f4f4;
    padding: 8px;
    padding-top: 14px;

}

img {
    -moz-box-shadow: 0 0 20px #5b9eec;
    -webkit-box-shadow: 0 0 20px #5b9eec;
    box-shadow: 0 0 20px #5b9eec;
    border-width: 1px;
}

.img_nota {
    padding: 5px 0px 0px 10px;
    margin: 0px;
    width: 22px;
    height: 22px;
}

h11 {
    font-family: 'Segoe UI Black';
    font-variant: small-caps;
    font-size: 150%;
    font-weight: bold;
    border: thin solid #094AB2;
    padding: 10px 10px 15px 10px;
    margin: 15pt 0pt 15pt 0pt;
    line-height: 1.1em;
    color: #ffffff;
    background-color: #094AB2;
    -moz-box-shadow: 0 0 20px #094AB2;
    -webkit-box-shadow: 0 0 20px #094AB2;
    box-shadow: 0 0 20px #094AB2;
}

h12 {
    border: thin solid #0072C6;
    padding: 10px 10px 15px 10px;
    margin: 15pt 0pt 15pt 5pt;
    line-height: 1.1em;
    color: #ffffff;
    font-size: 140%;
    font-weight: bold;
    background-color: #0072C6;
    -moz-box-shadow: 0 0 20px #0072C6;
    -webkit-box-shadow: 0 0 20px #0072C6;
    box-shadow: 0 0 20px #0072C6;
}

h13 {
    padding: 10px 10px 15px 10px;
    margin: 15pt 0pt 15pt 10pt;
    line-height: 1.31em;
    color: #ffffff;
    font-size: 130%;
    font-weight: bold;
    background-color: #217346;
    -moz-box-shadow: 0 0 20px #217346;
    -webkit-box-shadow: 0 0 20px #217346;
    box-shadow: 0 0 20px #217346;
}

h14 {
    padding: 10px 10px 15px 10px;
    margin: 15pt 0pt 15pt 15pt;
    line-height: 1.31em;
    color: #ffffff;
    font-size: 115%;
    font-weight: bold;
    background-color: #D24726;
    -moz-box-shadow: 0 0 20px #D24726;
    -webkit-box-shadow: 0 0 20px #D24726;
    box-shadow: 0 0 20px #D24726;
}

h15 {
    padding: 10px 10px 15px 10px;
    margin: 15pt 0pt 0pt 20pt;
    line-height: 1.1em;
    color: #ffffff;
    font-size: 110%;
    font-weight: bold;
    background-color: #671f79;
    -moz-box-shadow: 0 0 20px #671f79;
    -webkit-box-shadow: 0 0 20px #671f79;
    box-shadow: 0 0 20px #671f79;
}

h16 {
    padding: 10px 10px 15px 10px;
    margin: 15pt 0pt 0pt 20pt;
    line-height: 1.3em;
    color: #ffffff;
    font-size: 105%;
    font-weight: bold;
    background-color: #5b9eec;
    -moz-box-shadow: 0 0 20px #5b9eec;
    -webkit-box-shadow: 0 0 20px #5b9eec;
    box-shadow: 0 0 20px #5b9eec;
}

ol {
    margin-top: 0.7em;
    font-family: verdana, arial;
    margin-bottom: 0em;
    margin-left: 2.4em;
}

ul {
    list-style-type: disc;
    margin-top: 0.6em;
    font-family: verdana, arial;
    margin-bottom: 0em;
    margin-left: 1.5em;
}

li {
    line-height: 1.3em;
    margin: 4pt 0pt 0pt;
    color: #424242;
    list-style-image: url(../images/bullet2.gif);
    font-family: 'Comic Sans MS';
    font-size: medium;
}

a {
    color: maroon;
    font-size: 0.9em;
}

p {
    padding: 0px;
    line-height: 1.3em;
    margin: 10pt 10pt 10pt 20pt;
    color: #424242;
    font-family: 'Comic Sans MS';
    font-size: medium;
    text-align: justify;
    vertical-align: middle;
}

pre {
    padding: 10px 10px 15px 10px;
    margin: 0pt 0pt 15pt 20pt;
    vertical-align: middle;
    border-top: #5b9eec 1pt solid;
    border-bottom: #5b9eec 1pt solid;
    border-left: #5b9eec 1pt solid;
    border-right: #5b9eec 1pt solid;
    border-color: #5b9eec;
    -moz-box-shadow: 0 0 20px #5b9eec;
    -webkit-box-shadow: 0 0 20px #5b9eec;
    box-shadow: 0 0 20px #5b9eec;
    font-family: 'Comic Sans MS';
    font-size: medium;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(35%, #ffffff), color-stop(100%, #5b9eec));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
    /* IE10+ */
    background: linear-gradient(to right, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#5b9eec', GradientType=1);
    /* IE6-9 */
}

table1 {
    padding: 0px;
    margin: 15px 0px 15px 30px;
    border-top: #5b9eec 1pt solid;
    border-bottom: #5b9eec 1pt solid;
    border-left: #5b9eec 1pt solid;
    border-right: #5b9eec 1pt solid;
    border-color: #5b9eec;
    -moz-box-shadow: 0 0 20px #5b9eec;
    -webkit-box-shadow: 0 0 20px #5b9eec;
    box-shadow: 0 0 20px #5b9eec;
    font-family: 'Comic Sans MS';
    font-size: medium;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(35%, #ffffff), color-stop(100%, #5b9eec));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
    /* IE10+ */
    background: linear-gradient(to right, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#5b9eec', GradientType=1);
    /* IE6-9 */
}

caption {
    padding: 10px;
    line-height: 1.1em;
    margin: 0pt;
    color: #ffffff;
    font-size: 160%;
    font-weight: bolder;
    background-color: #5b9eec;
    -moz-box-shadow: 0 0 20px #5b9eec;
    -webkit-box-shadow: 0 0 20px #5b9eec;
    box-shadow: 0 0 20px #5b9eec;
    font-family: 'Segoe UI';
    font-variant: small-caps;
}

th1 {
    border: 1px solid #5b9eec;
    text-align: left;
    background-color: #5b9eec;
    -moz-box-shadow: 0 0 20px #5b9eec;
    -webkit-box-shadow: 0 0 20px #5b9eec;
    box-shadow: 0 0 20px #5b9eec;
    color: #FFFFFF;
    font-weight: bold;
    font-variant: small-caps;
    font-family: 'Comic Sans MS';
    font-size: 140%;
}

tr1 {
    border-bottom-color: #d7e1f1;
    border-right-color: #ffffff;
}

td1 {
    border-bottom: #b1bfd8 1pt solid;
    filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr='#ffffff', endcolorstr='#dde1ec');
    border-left: #b1bfd8 1pt solid;
    padding-bottom: 0pt;
    line-height: 1.3em;
    margin: 10pt;
    padding-left: 6pt;
    padding-right: 0pt;
    height: 18pt;
    color: #424242;
    border-top: #b1bfd8 1pt solid;
    border-right: #b1bfd8 1pt solid;
    padding-top: 4pt;
    text-align: justify;
    vertical-align: top;
}

hr1 {
    background-position: center center;
    border-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-image: url('../images/divider_top.jpg');
    background-repeat: repeat-x;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-attachment: fixed;
    overflow: auto;
}

.sintaxis {
    padding: 10px 10px 15px 10px;
    margin: 0pt 0pt 15pt 20pt;
    font-family: 'Comic Sans MS';
    font-size: medium;
    font-weight: bold;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 35%, #671f79 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(35%, #ffffff), color-stop(100%, #671f79));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 35%, #671f79 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 0%, #ffffff 35%, #671f79 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 35%, #671f79 100%);
    /* IE10+ */
    background: linear-gradient(to right, #ffffff 0%, #ffffff 35%, #671f79 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#671f79', GradientType=1);
    /* IE6-9 */
    vertical-align: middle;
    border-left: #671f79 1pt solid;
    border-right: #671f79 1pt solid;
    border-top: #671f79 1pt solid;
    border-bottom: #671f79 1pt solid;
    -moz-box-shadow: 0 0 20px #671f79;
    -webkit-box-shadow: 0 0 20px #671f79;
    box-shadow: 0 0 20px #671f79;
}

.salida {
    border-bottom: #d5e3fc 1pt solid;
    filter: progid:dximagetransform.microsoft.gradient(gradienttype=1, startcolorstr='#ffffff', endcolorstr='#e2ecfc');
    border-left: #d5e3fc 1pt solid;
    padding-bottom: 0.2em;
    padding-left: 3pt;
    padding-right: 0pt;
    vertical-align: middle;
    border-top: #d5e3fc 1pt solid;
    font-weight: bold;
    border-right: #d5e3fc 1pt solid;
    padding-top: 0.2em;
}

.nota {
    padding: 10px 10px 15px 10px;
    margin: 0pt 0pt 15pt 20pt;
    font-family: 'Comic Sans MS';
    font-size: medium;
    font-weight: bold;
    background: #FFFFCC;
    /* Old browsers */
    background: -moz-linear-gradient(left, #FFFFCC 0%, #FFFFCC 35%, #FFFF99 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #FFFFCC), color-stop(35%, #FFFFCC), color-stop(100%, #FFFF99));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #FFFFCC 0%, #FFFFCC 35%, #FFFF99 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #FFFFCC 0%, #FFFFCC 35%, #FFFF99 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #FFFFCC 0%, #FFFFCC 35%, #FFFF99 100%);
    /* IE10+ */
    background: linear-gradient(to right, #FFFFCC 0%, #FFFFCC 35%, #FFFF99 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFCC', endColorstr='#FFFF99', GradientType=1);
    /* IE6-9 */
    vertical-align: middle;
    border-left: #FFFF99 1pt solid;
    border-right: #FFFF99 1pt solid;
    border-top: #FFFF99 1pt solid;
    border-bottom: #FFFF99 1pt solid;
    -moz-box-shadow: 0 0 20px #FFFF99;
    -webkit-box-shadow: 0 0 20px #FFFF99;
    box-shadow: 0 0 20px #FFFF99;
    background-color: #FFFFCC;
}