﻿




/*.cps_start
{
    background-position: -300px -73px;
    background-image: url('../Images/Glass_building_wide.jpg');
    background-color: #C9E1F5;
}*/

.cps_start
{
    background-position: -0px -43px;
    background-image: url('../images/Win10Background.jpg');
    background-color: #C9E1F5;
}

.cps_package_item_name
{
    color:white;
}

.back_tabs
{
    background:rgba(190,210,239,0.4);
}

.sel_color
{
    background:rgba(70,130,191,0.65);
    color: white;
}


/*.pack_hov:hover
{
    background:rgba(35,35,125,0.35);
}*/

.back_attr
{
    background:rgba(180,212,255,0.8);
}

.ao_hov:hover
{
    background:rgba(35,35,125,0.2);
}


.cps_order_button
{
   background-color: white;
   color: #2d598f;
}

.cps_order_button:hover
{
    color:blue !important;
}