@import url(css.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}






body {


  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;

}

body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}

body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}

body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

.wrapper {
  background: #088da5;
  background: -webkit-linear-gradient(top left, #ffffff 5 0%, #5458a6 100%);
  background: linear-gradient(to bottom right, #088da5 0%, #5458a6 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  overflow: hidden;
}

.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
  transform: translateY(85px);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}

form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(194, 4, 4, 0.4);
  background-color: rgba(194, 4, 4, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}

form input:hover {
  background-color: rgba(194, 4, 4, 0.4);
}

form input:focus {
  background-color: white;
  width: 300px;
  color: #f5f7f9;
}

form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: black;
  border: 0;
  padding: 10px 15px;
  color: #810C11;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

form button:hover {
  background-color: #f5f7f9;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(194, 4, 4, 2);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(194, 4, 4, 0.2);
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(194, 4, 4, 0.2);
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(194, 4, 4, 0.3);
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}






















body {
  margin: 0pt 15pt;
  background: #F9FAFC url(../images/fondo.jpg) repeat-x fixed;
  color: black;
  font-size: 100%;
  font-family: 'Arial';
  scrollbar-track-color: #eff3ff;
  scrollbar-3dlight-color: #eff3ff;
  scrollbar-arrow-color: #7c94c5;
  scrollbar-face-color: #eff3ff;
  scrollbar-shadow-color: #7c94c5;
  scrollbar-darkshadow-color: #eff3ff;
  scrollbar-highlight-color: #7c94c5;
  padding-top: 20px;
}

img {
  -moz-box-shadow: 0 0 20px #5b9eec;
  -webkit-box-shadow: 0 0 20px #5b9eec;
  box-shadow: 0 0 20px #5b9eec;
  border-width: 1px;
}

.img_nota {
  padding: 5px 0px 0px 10px;
  margin: 0px;
  width: 22px;
  height: 22px;
}

h1 {
  font-family: 'Arial';
  font-variant: small-caps;
  font-size: 150%;
  font-weight: bold;
  border: thin solid #094AB2;
  padding: 10px 10px 15px 10px;
  margin: 15pt 0pt 15pt 0pt;
  line-height: 1.1em;
  color: #ffffff;
  background-color: #094AB2;
  -moz-box-shadow: 0 0 20px #094AB2;
  -webkit-box-shadow: 0 0 20px #094AB2;
  box-shadow: 0 0 20px #094AB2;
  width: 100%;
}

h2 {
  border: thin solid #0072C6;
  padding: 10px 10px 15px 10px;
  margin: 15pt 0pt 15pt 5pt;
  line-height: 1.1em;
  color: #ffffff;
  font-size: 140%;
  font-weight: bold;
  background-color: #0072C6;
  -moz-box-shadow: 0 0 20px #0072C6;
  -webkit-box-shadow: 0 0 20px #0072C6;
  box-shadow: 0 0 20px #0072C6;
}

h3 {
  padding: 10px 10px 15px 10px;
  margin: 15pt 0pt 15pt 10pt;
  line-height: 1.31em;
  color: #ffffff;
  font-size: 130%;
  font-weight: bold;
  background-color: #217346;
  -moz-box-shadow: 0 0 20px #217346;
  -webkit-box-shadow: 0 0 20px #217346;
  box-shadow: 0 0 20px #217346;
}

h4 {
  padding: 10px 10px 15px 10px;
  margin: 15pt 0pt 15pt 15pt;
  line-height: 1.31em;
  color: #ffffff;
  font-size: 115%;
  font-weight: bold;
  background-color: #D24726;
  -moz-box-shadow: 0 0 20px #D24726;
  -webkit-box-shadow: 0 0 20px #D24726;
  box-shadow: 0 0 20px #D24726;
}

h5 {
  padding: 10px 10px 15px 10px;
  margin: 15pt 0pt 0pt 20pt;
  line-height: 1.1em;
  color: #ffffff;
  font-size: 110%;
  font-weight: bold;
  background-color: #671f79;
  -moz-box-shadow: 0 0 20px #671f79;
  -webkit-box-shadow: 0 0 20px #671f79;
  box-shadow: 0 0 20px #671f79;
}

h6 {
  padding: 10px 10px 15px 10px;
  margin: 15pt 0pt 0pt 20pt;
  line-height: 1.3em;
  color: #ffffff;
  font-size: 105%;
  font-weight: bold;
  background-color: #5b9eec;
  -moz-box-shadow: 0 0 20px #5b9eec;
  -webkit-box-shadow: 0 0 20px #5b9eec;
  box-shadow: 0 0 20px #5b9eec;
}

ol {
  margin-top: 0.7em;
  font-family: verdana, arial;
  margin-bottom: 0em;
  margin-left: 2.4em;
}

ul {
  list-style-type: disc;
  margin-top: 0.6em;
  font-family: verdana, arial;
  margin-bottom: 0em;
  margin-left: 1.5em;
}

li {
  line-height: 1.3em;
  margin: 4pt 0pt 0pt;
  color: #424242;
  list-style-image: url(../images/bullet2.gif);
  font-family: 'Arial';
  font-size: medium;
}

a {
  color: maroon;
  font-size: 0.9em;
}

p {
  padding: 0px;
  line-height: 1.3em;
  margin: 10pt 10pt 10pt 20pt;
  color: #424242;
  font-family: 'Arial';
  font-size: medium;
  text-align: justify;
  vertical-align: middle;
}

pre {
  padding: 10px 10px 15px 10px;
  margin: 0pt 0pt 15pt 20pt;
  vertical-align: middle;
  border-top: #5b9eec 1pt solid;
  border-bottom: #5b9eec 1pt solid;
  border-left: #5b9eec 1pt solid;
  border-right: #5b9eec 1pt solid;
  border-color: #5b9eec;
  -moz-box-shadow: 0 0 20px #5b9eec;
  -webkit-box-shadow: 0 0 20px #5b9eec;
  box-shadow: 0 0 20px #5b9eec;
  font-family: 'Arial';
  font-size: medium;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(35%, #ffffff), color-stop(100%, #5b9eec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
  /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#5b9eec', GradientType=1);
  /* IE6-9 */
}

table1 {
  padding: 0px;
  margin: 15px 0px 15px 30px;
  border-top: #5b9eec 1pt solid;
  border-bottom: #5b9eec 1pt solid;
  border-left: #5b9eec 1pt solid;
  border-right: #5b9eec 1pt solid;
  border-color: #5b9eec;
  -moz-box-shadow: 0 0 20px #5b9eec;
  -webkit-box-shadow: 0 0 20px #5b9eec;
  box-shadow: 0 0 20px #5b9eec;
  font-family: 'Arial';
  font-size: medium;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(35%, #ffffff), color-stop(100%, #5b9eec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
  /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%, #ffffff 35%, #5b9eec 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#5b9eec', GradientType=1);
  /* IE6-9 */
}

caption {
  padding: 10px;
  line-height: 1.1em;
  margin: 0pt;
  color: #ffffff;
  font-size: 160%;
  font-weight: bolder;
  background-color: #5b9eec;
  -moz-box-shadow: 0 0 20px #5b9eec;
  -webkit-box-shadow: 0 0 20px #5b9eec;
  box-shadow: 0 0 20px #5b9eec;
  font-family: 'Arial';
  font-variant: small-caps;
}

th1 {
  border: 1px solid #5b9eec;
  text-align: ns MS';
font-size: 140%;
  width: 100%;
}

tr1 {
  border-bottom-color: #d7e1f1;
  border-right-color: #ffffff;
}

td1 {
  border-bottom: #b1bfd8 1pt solid;
  filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr='#ffffff', endcolorstr='#dde1ec');
  bo
}

tr1 {
  border-bottom-color: #d7e1f1;
  border-right-color: #ffffff;
}

td1 {
  border-bottom: #b1bfd8 1pt solid;
  filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr='#ffffff', endcolorstr='#dde1ec');
  border-left: #b1bfd8 1pt solid;
  padding-bottom: 0pt;
  line-height: 1.3em;
  margin: 10pt;
  padding-left: 6pt;
  padding-right: 0pt;
  height: 18pt;
  color: #424242;
  border-top: #b1bfd8 1pt solid;
  border-right: #b1bfd8 1pt solid;
  padding-top: 4pt;
  text-align: justify;
  vertical-align: top;
}

hr1 {
  background-position: center center;
  border-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-image: url('../images/divider_top.jpg');
  background-repeat: repeat-x;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-attachment: fixed;
  overflow: auto;
}

.sintaxis {
  padding: 10px 10px 15px 10px;
  margin: 0pt 0pt 15pt 20pt;
  font-family: 'Arial';
  font-size: medium;
  font-weight: bold;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 35%, #671f79 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(35%, #ffffff), color-stop(100%, #671f79));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 35%, #671f79 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 35%, #671f79 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 35%, #671f79 100%);
  /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%, #ffffff 35%, #671f79 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#671f79', GradientType=1);
  /* IE6-9 */
  vertical-align: middle;
  border-left: #671f79 1pt solid;
  border-right: #671f79 1pt solid;
  border-top: #671f79 1pt solid;
  border-bottom: #671f79 1pt solid;
  -moz-box-shadow: 0 0 20px #671f79;
  -webkit-box-shadow: 0 0 20px #671f79;
  box-shadow: 0 0 20px #671f79;
}

.salida {
  border-bottom: #d5e3fc 1pt solid;
  filter: progid:dximagetransform.microsoft.gradient(gradienttype=1, startcolorstr='#ffffff', endcolorstr='#e2ecfc');
  border-left: #d5e3fc 1pt solid;
  padding-bottom: 0.2em;
  padding-left: 3pt;
  padding-right: 0pt;
  vertical-align: middle;
  border-top: #d5e3fc 1pt solid;
  font-weight: bold;
  border-right: #d5e3fc 1pt solid;
  padding-top: 0.2em;
}

.nota {
  padding: 10px 10px 15px 10px;
  margin: 0pt 0pt 15pt 20pt;
  font-family: 'Arial';
  font-size: medium;
  font-weight: bold;
  background: #FFFFCC;
  /* Old browsers */
  background: -moz-linear-gradient(left, #FFFFCC 0%, #FFFFCC 35%, #FFFF99 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #FFFFCC), color-stop(35%, #FFFFCC), color-stop(100%, #FFFF99));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #FFFFCC 0%, #FFFFCC 35%, #FFFF99 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #FFFFCC 0%, #FFFFCC 35%, #FFFF99 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #FFFFCC 0%, #FFFFCC 35%, #FFFF99 100%);
  /* IE10+ */
  background: linear-gradient(to right, #FFFFCC 0%, #FFFFCC 35%, #FFFF99 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFCC', endColorstr='#FFFF99', GradientType=1);
  /* IE6-9 */
  vertical-align: middle;
  border-left: #FFFF99 1pt solid;
  border-right: #FFFF99 1pt solid;
  border-top: #FFFF99 1pt solid;
  border-bottom: #FFFF99 1pt solid;
  -moz-box-shadow: 0 0 20px #FFFF99;
  -webkit-box-shadow: 0 0 20px #FFFF99;
  box-shadow: 0 0 20px #FFFF99;
  background-color: #FFFFCC;
}