@import url(css.css);

* {
  box-sizing: border-box;
  font-weight: 700;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}

body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}

body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

.wrapper {
  background: #810C11;
  background: -webkit-linear-gradient(top left, #810C11 0%, #a65458 100%);
  background: linear-gradient(to bottom right, #810C11 0%, #a65458 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  overflow: hidden;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}


h1 {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-variant: small-caps;
  font-size: 180%;
  font-weight: bold;
  font-weight: 1.25em;
  text-align: center;
  width: 55%;
  border-bottom-style: double;
  border-bottom-color: #810C11;

  padding: 10px 10px 1px 10px;
  margin: 15pt 10pt 20pt 130pt;
  line-height: 1.1em;

  color: #810C11;



}

a,
a:link,
a:visited {
  font-size: 14px;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
  cursor: pointer;
  text-decoration: none;

}

a:hover,
a:active {
  font-size: 14px;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;


}

a:hover {
  font-size: 14px;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;


}

.print {

  font-size: 14px;

  color: #b01017;
}



form {
  margin: 400px;
  padding: 30px 0;
  position: relative;
  z-index: 2;
}

form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid #ccc;
  color: #0a0a0a;
  background-color: rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 35px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 16px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 100;

}

form input:hover {
  background-color: white;
  color: #0a0a0a;
  width: 250px;
  height: 35px;
}

form input:focus {
  background-color: white;
  width: 250px;
  height: 35px;
  color: #0a0a0a;
}










form select {
  display: inline-block;


  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.3);
  width: 185px;
  height: 35px;

  border-radius: 3px;
  padding: 5px 5px;

  margin: 0 auto 10px auto;

  font-size: 14px;
  color: #0a0a0a;

  font-weight: 300;
  text-align: center;
}

form select:hover {
  display: inline-block;
  background-color: white;

  height: 35px;
  border-radius: 3px;
  padding: 5px 5px;
  color: #0a0a0a;
  margin: 0 auto 10px auto;
}

form select:focus {
  display: inline-block;
  color: #0a0a0a;
  background-color: rgba(0, 0, 0, 0.3);

  height: 35px;

  border-radius: 3px;
  padding: 5px 5px;

  margin: 0 auto 10px auto;
}

form textarea {
  font-family: 'Comic Sans MC';
  font-size: 16px;
}

form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

form button:hover {
  background-color: #f5f7f9;
  width: 150px;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(194, 4, 4, 2);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(194, 4, 4, 0.2);
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(194, 4, 4, 0.2);
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(194, 4, 4, 0.3);
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

.scale_image_ {

  max-width: 40%;
  text-align: center;
}


@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}


.left {
  float: left;
}

.both {
  clear: both;
}

.file-upload-container {
  width: 400px;
  border: 1px solid #3498db;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #fbfbfa;
}

.file-upload-override-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #3498db;
}

.file-upload-override-button:hover {
  background-color: #3498db;
}

.file-upload-override-button:active {
  position: relative;
  top: 1px;
}

.file-upload-button {
  position: absolute;
  height: 50px;
  top: -10px;
  left: -10px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload-filename {
  margin-left: 10px;
  height: auto;
  padding: 8px;
}





.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #3498db);
  background-image: -moz-linear-gradient(top, #3498db, #3498db);
  background-image: -ms-linear-gradient(top, #3498db, #3498db);
  background-image: -o-linear-gradient(top, #3498db, #3498db);
  background-image: linear-gradient(to bottom, #3498db, #3498db);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 250px;

}

.btn:hover {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #3498db);
  background-image: -moz-linear-gradient(top, #3498db, #3498db);
  background-image: -ms-linear-gradient(top, #3498db, #3498db);
  background-image: -o-linear-gradient(top, #3498db, #3498db);
  background-image: linear-gradient(to bottom, #3498db, #3498db);
  text-decoration: none;
}