﻿/*********************************header*************************************/
/*header {height:424px; width:100%; background:url(../images/headerV2.jpg) right 123px no-repeat;}*/
header {height:424px; width:100%; background:url(../images/EfficientHostingSolutionsMain.jpg) right 123px no-repeat;}

header .row-1 {height:123px;}

h1 {float:left; padding:33px 0 0 0px; font-size:40px; line-height:1.2em; position:relative;}
.logo {display:block; width:278px; height:85px; color:#fff; background:url(../images/logo.png) 0 0 no-repeat;}

.menu {float:right; padding:0px 0px 0 0;}
.menu li {float:left; font-size:16px; line-height:1.2em; text-transform:uppercase; padding-right:13px;}
.menu li a {display:block; color:#fff; padding:51px 20px 10px;}
.menu li .active, .menu li a:hover {background:#000;}
.menu .last-item {padding-right:0px;}

/*.box-header {width:242px; height:289px; margin-left:1px; color:#fff; background:url(../images/header-box.jpg) 0 0 no-repeat; font-family:Tahoma, Geneva, sans-serif;}*/
.box-header
{
    width: 242px;
    height: 289px;
    margin-left: 1px;
    color: #fff;
    background: url(../images/bluegreen1sm.jpg) no-repeat -0px -0px;
    font-family: Tahoma, Geneva, sans-serif;
}
.box-header .padding {padding:20px 15px 0px 27px;}
.box-header h3 {font-size:28px; line-height:1.2em; color:#fff; margin-bottom:6px; text-transform:none;}  
.box-header h3 strong {font-size:24px; line-height:1.2em; text-transform:uppercase;}

.button-top {display:inline-block; font-size:12px; padding-left:3px; color:#0a0a0a; 
             /*background:url(../images/button-top-left.gif) 0 0 no-repeat;*/
             border-radius:3px;
}
.button-top span {display:inline-block; cursor:pointer; padding-right:3px;  border-radius:3px;
                  /*background:url(../images/button-top-right.gif) right 0 no-repeat;*/
}
.button-top span span {padding:4px 10px; 
                       /*background:url(../images/button-top-tail.gif) 0 0 repeat-x;*/background-color:white;
}
.button-top:hover {color:#d7d7d7; 
                   /*background:url(../images/button-top-left-h.gif) 0 0 no-repeat;*/}
.button-top:hover span {/*background:url(../images/button-top-right-h.gif) right 0 no-repeat;*/ }
.button-top:hover span span {/*background:url(../images/button-top-tail-h.gif) 0 0 repeat-x;*/background-color:black;}
