/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
* {margin:0; padding:0;}

html {width:100%;}

body
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    color: #666666;
    background: url(../images/white_wall_hash.png)
}

.bt
{
    min-width: 980px;
    background: url(../images/tail-top.jpg) 0 0 repeat-x; /*#fff;*/
}

.bg {width:100%; background: url(../images/bg-top.jpg) center 0 no-repeat}

.main {
	width:980px; 	
	padding:0;
	margin:0 auto;
	font-size:0.75em;
	line-height:1.5em;
}

img {border:0; vertical-align:top; text-align:left;}

a {color:#dd350c; outline:none;}
a:hover {text-decoration:none;}

object {outline:none;}
fieldset {border:0;}

ul {list-style:none;}

table, table td {padding:0; border:none; border-collapse:collapse;}

.clear {clear:both; width:100%; line-height:0; font-size:0;}

.col-1, .col-2, .col-3, .col-4 {float:left;}
.column-1, .column-2, .column-3 {float:left;}  

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}
.extra-box {overflow:hidden;}
 
.container {width:100%;}

p {margin-bottom:18px;}
.p0 {margin-bottom:0px;}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}
.p7 {margin-bottom:70px;}
.p9 {margin-bottom:90px;}
.p10 {margin-bottom:100px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#7b7b7b;}
.color-4 {color:#dd350c;}
.color-5 {color:#545454;}
.color-6 {color:#1e1e1e;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:30px;}

.spacing {margin-right:35px;}
.spacing2 {margin-right:45px;}
.spacing3 {margin-right:90px;}

.spacing-bot {margin-bottom:25px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent-bot15 {margin-bottom:15px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.img-box {float:left; margin-bottom:20px;}	

.prev-indent-bot {margin-bottom:10px;}
.prev-indent {float:left; margin:0 17px 0px 0;}	
.prev-box {float:left; margin-bottom:8px;}	

.border {border:3px solid #000;}
.border2 {border:1px solid #000;}

.buttons a:hover {cursor:pointer;}

.menu li a,
.list-1 li a,
.list-2 li a,
.list-6 li a, 
.link,
.button, 
.button-top, 
.button1,
footer a,
.logo {text-decoration:none;}	

/*********************************header*************************************/
/*      Depends on nested master page          */

/*********************************aside*************************************/
aside {display:block; width:100%; padding:20px 0 0 0; overflow:hidden;}
.asidec {display:block; width:100%; padding:10px 0 0 0; overflow:hidden; }

/*********************************content*************************************/
#content {width:100%; padding:20px 0px 20px 0px;}
#contentFP {width:100%; padding:40px 0px 37px 0px;}

.spacer-1 {width:100%; background:url(../images/pic-1.gif) 217px 0 repeat-y;}
.spacer-2 {width:100%; background:url(../images/pic-1.gif) 460px 0 repeat-y;}

h3 {font-size:22px; line-height:1.2em; margin:0px 0 15px; color:#2a2a2a; }
h6 {font-size:12px; line-height:18px; margin:0px 0 13px; color:#1e1e1e;}
h7
{
    font-size:11pt;
    line-height:23px;
    margin:0px 0 18px;
    vertical-align:top;
}

.head {font-size:24px; margin:-4px 0 15px 0;}

.scroll {overflow:auto; height:180px; position:relative;}
.scroll .padding-right {height:1%; padding-right:50px;}

.border-bot {width:100%; padding-bottom:27px; background:url(../images/pic-1.gif) 0 bottom repeat-x;}
.border-bot15 {width:100%; padding-bottom:17px; background:url(../images/pic-1.gif) 0 bottom repeat-x;}

.ft-smaller
{
    font-size:90%;
}

.box-1
{
    width: 100%;
    height: 283px;
    background: #e4e5e9;
    background-image: url('../images/gradient1.jpg');
    border-radius: 4px;
    
}
.box-1 .padding {padding:20px 9px 0px 10px;}
.box-1 h3 { padding-left:28px; padding-top:2px; color:#323232; margin-bottom:10px; background:url(../images/marker-4.gif) 0 5px no-repeat;}
.box-1 .list-2 {padding-left:10px;}
.box-1 .price {font-size:35px; padding:3px; line-height:1.2em; color:#1e1e1e;}
.box-1 .button1 {margin-top:8px;}

.box-1.alt
{
    background: url(../images/box-h.gif) 0 0 no-repeat #1e1e1e;
    
} 
.box-1.alt h3 {color:#fff; background:url(../images/marker-5.gif) 0 5px no-repeat;}
.box-1.alt .price {color:#fff;}
.box-1.alt .list-2 li {background:url(../images/marker-3.gif) 0 9px no-repeat;}
.box-1.alt .list-2 li a {color:#bbb;}

.shpHeight { height: 800px;}
.fhpHeight { height: 610px; margin-bottom: 10px;}
.mspHeight { height: 570px; margin-bottom: 10px;}
.vspHeight { height: 570px; margin-bottom: 10px;}

.article34 
{
    width:690px; float:left;
    height:597px;
    padding: 10px 7px 0px 20px;
    margin: 0px 0px 0px 10px;

}
.article12 {width:441px; height: 556px; padding: 10px 15px 0px 15px; margin-left:10px; float:left}
.articlefp 
{
    margin: 15px 0px 15px 0px;
    padding:15px;
}

.box-1p
{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    background: #e4e5e9;
    position: relative;
    color: #555555;
    background-image: url('../images/gradient2.jpg');
    border-radius: 4px;
}
.box-1p .padding {padding:10px 10px 0px 10px;}
.box-1p .paddingPr 
{
    margin:9px 7px 0px 7px;
    overflow:hidden;
}
.box-1p .paddingPr .price-option-back
{
    padding: 5px 5px 3px 5px;
    background-color: #F4F4F4;
    border-radius: 4px;
}

.box-1p .wrapper {position:absolute; bottom:10px}
.box-1p h3 {padding-left:26px; font-size:19px; color:#323232; margin-bottom:20px; background:url(../images/marker-4.gif) 0 2px no-repeat;}
.box-1p .list-2 
{
    padding-left:5px; margin-bottom:20px;
   
}

.box-1p
{
    font-family: Tahoma,sans-serif
}
.box-1p .list-2 li {font-size:110%; line-height: 16pt }


.box-1p .trial-prod-top
{
    height:35px;
   
   
}


.box-1p .trial-prod-top .tryit
{
    color:Black;
    float:left;
    font-size:18px;
}

.box-1p .trial-prod-top .condit
{
    color: #F71100;
    float:Right;
    font-size:17px;
}

.box-1p .trial-prod-top .after
{
    padding:2px 0px 0px 0px;
    clear:both;
    font-size:10px;
    color:#323232;
    font-family:Verdana;
    line-height: 1.1em;
}


.box-1p .price {font-size:17px; padding-top:0px; line-height:0.4em; color:#1e1e1e; margin: 0px 0px 0px 0px; display:table; float:right; }
.box-1p .priceTot
{
    font-size: 11px;
    padding-top: 0px;
    line-height: 1.1em;
    color: #282828;
    display: table;
    float: left;
    font-family:Verdana;
    width:100px;
}

.box-1p .priceTot .priceTotValue
{
    font-weight:bold;
}


.box-1p .button1 {margin-top:8px;}
.box-1p .button {margin-top:3px;}
.box-1p h6 {font-size:14px; margin-bottom:5px;}

.box-1p.alt {background:url(../images/box-h.gif) 0 0 no-repeat #1e1e1e;} 
.box-1p.alt h3 {color:#fff; background:url(../images/marker-5.gif) 2 10px no-repeat;}
.box-1p.alt .price {color:#fff;}
.box-1p.alt .list-2 li {background:url(../images/marker-3.gif) 0 9px no-repeat;}
.box-1p.alt .list-2 li a {color:#bbb;}

.box-lt {width:100%; height:800px; margin-bottom:10px; background:#ffffff; position:relative; color:#444444}
.box-lt .padding {padding:5px 10px 0px 10px;}
.box-lt h6 {font-size:14px; margin-bottom:5px;}
.box-lt .wrapper {position:absolute; bottom:10px}
.box-lt h3 {font-size:19px; margin-bottom:20px;}


.button {display:inline-block; padding-left:4px; color:#fff; background:url(../images/button-left.gif) 0 0 no-repeat; font-family:Tahoma, Geneva, sans-serif;  font-size:110%}
.button span {display:inline-block; cursor:pointer; padding-right:4px; background:url(../images/button-right.gif) right 0 no-repeat;}
.button span span {padding:3px 5px 7px 5px; background:url(../images/button-tail.gif) 0 0 repeat-x;}
.button:hover {background:url(../images/button-left-h.gif) 0 0 no-repeat;}
.button:hover span {background:url(../images/button-right-h.gif) right 0 no-repeat;}
.button:hover span span {background:url(../images/button-tail-h.gif) 0 0 repeat-x;}

.button1 {display:inline-block; width:118px; text-align:center; font-size:16px; padding:11px 0; color:#fff; background:url(../images/button1.png) 0 0 no-repeat; font-family:Tahoma, Geneva, sans-serif;}
.button1:hover {background:url(../images/button1-h.png) 0 0 no-repeat;}

.button5
{
    /*background-color: #D83027;*/
    border-radius: 3px;
    display:table;
}

.button5 a
{
    text-decoration: none;
    padding: 3px 10px 4px 10px;
    color: White;
    border-radius: 3px;
    font-size:11pt;
}

.button5 a:hover
{
    background-color: #D83027;
}

.buttonBlack a
{
    background-color: Black;
}

.buttonGray a
{
    background-color: Gray;
}


.list-1 li {line-height:28px; padding-left:12px; background:url(../images/marker-1.gif) 0 11px no-repeat;}
.list-1 li a {color:#b3b3b3;}
.list-1 li a:hover {color:#dd350c;}

.list-2 li {font-size:12px; line-height:24px; padding-left:8px; background:url(../images/marker-2.gif) 0 9px no-repeat; }
.list-2 li a {color:#747474;}
.list-2 li a:hover {text-decoration:underline;}

.list-feature li { line-height:24px; padding-left:8px; background:url(../images/marker-2.gif) 0 11px no-repeat; font-family:Tahoma, Geneva, sans-serif;}
.list-feature li a {color:#747474;}
.list-feature li a:hover {text-decoration:underline;}

.list-3
{
    float: left;
    padding-left: 52px;
    background: url('../images/WinLogo40.png') no-repeat -1px 5px;
}

.list-31
{
    float: left;
    padding-left: 52px;
    background: url('../images/Scripts40.png') no-repeat -1px 5px;
}

.list-4 {float:left; padding-left:52px; background:url(../images/logo-sql-square40.png) 0 5px no-repeat;}
.list-5 {float:left; padding-left:52px; background:url(../images/vsphere40.png) 0 5px no-repeat;}
.list-3 a, .list-31 a, .list-4 a, .list-5 a {font-weight:bold; color:#1e1e1e;}


.list-6 li {font-size:14px; line-height:24px; padding-left:8px; background:url(../images/marker-2.gif) 0 9px no-repeat; font-family:Tahoma, Geneva, sans-serif;}
.list-6 li a {color:#747474;}
.list-6 li a:hover {color:#dd350c;}

.list-pack-prop
{
    margin:0px 0px 10px 0px;
}

.list-pack-prop .pack-prop 
{
    font-size:13px; line-height:24px; padding-left:8px; background:url(../images/marker-2.gif) 0 9px no-repeat; 
    margin: 0px 7px 0px 5px;
    
    line-height:1.7em;
    
}

    .list-pack-prop .pack-prop .ppl
    {
        float:left;
    }

    .list-pack-prop .pack-prop .ppr
    {
        float:right;
        font-weight:bold;
    }

    .list-pack-prop .pack-prop .ppe
    {
        clear:both;
    }


.link:hover {text-decoration:underline;} 

.link-1 {display:inline-block; font-size:14px; padding-right:8px; background:url(../images/marker-3.gif) right 8px no-repeat;}
.link-1:hover {color:#fff;} 

.link-2 {color:#858875;}
.link-2:hover {color:#000;} 

.text-1 {font-size:14px;} 
.text-2 {font-size:14px; line-height:1.285em;}  
.text-3 {font-size:11px; line-height:1.272em;}  

.info dt {padding-bottom:16px; color:#1e1e1e; font-weight:bold;}
.info span {float:left; width:75px;}

#form-1 {display:block; width:261px;}
#form-1 label {display:block; height:41px;}
#form-1 input {width:231px; font-size:12px; color:#fff; font-weight:bold; padding:7px 0px; font-family:Arial, Helvetica, sans-serif; border:0; background:none;}
#form-1 span {display:block; width:231px; height:30px; padding:0 15px; background:url(../images/input.gif) 0 0 no-repeat;}
#form-1 .link-2 {margin-top:20px;}

#form-main .column-1 {width:309px;}
#form-main .column-2 {width:320px;}

#form-main {display:block;}
#form-main label {display:block; height:52px;}
#form-main input {width:247px; font-size:1em; color:#7b7b7b; padding:2px 5px; font-family:Arial, Helvetica, sans-serif; border:1px solid #d7d7d7; background:#fff;}
#form-main textarea {height:120px; overflow:auto; width:308px; font-size:1em; color:#7b7b7b; padding:2px 5px; font-family:Arial, Helvetica, sans-serif; border:1px solid #d7d7d7; background:#fff;}

.buttons {padding-top:36px; text-align:right;}
.buttons a {margin-left:15px;}

/****************************footer************************/
footer {width:100%; padding:36px 0 46px; color:#c0b9b2; background:url(../images/tail-bot.gif) 0 0 repeat #303331;}
footer h3 {font-size:24px; color:#f5f5f5; text-transform:none; margin-bottom:23px;}
footer span {color:#fff;}
footer a {color:#c0b9b2;}
footer a:hover {color:#fff;}

footer .col-1 {width:219px;}
footer .col-2 {width:218px;}
footer .col-3 {width:165px;}
footer .col-4 {width:378px; padding-top:59px; text-align:right; font-family:Arial, Helvetica, sans-serif;}

.list-services {float:right; padding:0px 0px 8px 6px;}
.list-services li {float:left; padding:0 0 0 5px;}

.menu-bot {overflow:hidden; margin-right:-5px;}
.menu-bot li {display:inline; padding:0 4px 0 5px; background:url(../images/spacer.gif) right 2px no-repeat; font-family:Tahoma, Geneva, sans-serif;}
.menu-bot li a {color:#999898;}
.menu-bot li .active, .menu-bot li a:hover {color:#fff;}

.fwidth-section
{
    margin: 5px 0px 20px 0px;
    padding:10px 10px 10px 10px;
}

.notop-section h3
{
    font-size: 20px;
    color: #414141;
}

.text-back
{
    background-color: #FAFAFA;
    border: 2px solid #F4F4F4;
    border-radius: 4px;
}


.faqcls
{
    width: 700px;
    padding:10px;
    min-height:547px;
}
    
.faqcls dl dt
{
    color: White;
    padding: 4px 0px 4px 10px;
    margin: 2px 0px 2px 0px;
    background-color: #9A977C;
    font-weight: bold;
    /*border-radius: 4px;*/
    cursor: pointer;
}

.faqcls dl dt:hover
{
    background-color: #757259;
}

.faqcls dl dd
{
    margin:  10px 5px 10px 5px;
    display:none;
}

.faqcls .note
{
    font-weight:bold;
    color: #555555;
}

.faqcls .nup
{
    margin:  8px 0px 0px 0px;
}

.win-logo-40
{
    width: 50px;
    height: 50px;
    float: left;
    background-image: url('../images/WinLogo40.png');
    background-repeat: no-repeat;
}

.std-ul
{
    list-style-type:square; 
    margin: 0px 0px 0px 20px;
}

    .std-ul li span
    {
        font-weight:bold;
    }


.page-header
{
    background-color: #555555;
    height: 48px;
    margin: 0px 0px 10px 0px;
}

    .page-header .hd-icn
    {
        float: left;
        background-repeat: no-repeat;
        width: 48px;
        height: 48px;
        margin: 0px 10px 0px 0px;
    }

    .page-header .hd-txt
    {
        float: left;
        margin: 11px 0px 0px 5px;
        color: white;
        font-size: 22pt;
        
        width: 100%-48px;
    }

.hd-end
{
    clear: both;
}

.see-also
{
    background-color: #555555;
    height: 32px;
    margin: 0px 0px 10px 0px;
}

    .see-also .sa-txt
    {
        float: left;
        margin: 6px 0px 0px 15px;
        color: white;
        font-size: 13pt;
        
    }

    .see-also .sa-item
    {
        float: right;
        display: block;
        margin: 6px 15px 0px 0px;
        color: white;
        font-size: 12pt;
    }


.two-col
{
    display:table;
    width:100%;
}

    .two-col > div
    {
        /*float: left;*/
        padding: 10px 0px 0px 0px;
        /*width:50%;*/
        display:table-cell;
        width: 50%;
    }

    .two-col > div:first-of-type
    {
        padding: 10px 10px 0px 0px;
    }


.parag
{

}

    .parag > div:first-of-type
    {
        
        padding:7px 5px 5px 15px;
        background-color: #e5e5e5;
        color: black;
        font-size:16pt;
    }

    .parag > div:last-of-type
    {
        padding:10px 10px 20px 10px;
        font-family: Tahoma, Geneva, sans-serif;
        font-size:10pt;
    }
        .parag > div:last-of-type p
        {
            margin-bottom:10px;
        }


.top-descr p
{
    margin-bottom: 15px;
}

.bottom-area
{
    background-color:#FaFaFa;
}


/* Spinner*/
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .1 ) 
                url('../fonts/spin.svg') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    /*overflow: hidden;*/   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}